<div class="container-fluid">
        <div class="row">
            <div class="col-md-4" ></div>
            <div class="col-md-4 col-md-offset-4" >
                <div class="clear">&nbsp;</div>
                <img src="assets/img/logo.png"/>
            </div>
        </div>
        <div *ngIf="!isValid" class="alert alert-danger">
                <strong>Alerta</strong> {{message}}
              </div>        
        <div class="row">
            <div class="col-md-4" ></div>
            <div class="col-md-4 col-md-offset-4" >
                <div class="card" >
                    <div class="card-header">Inicio de sesion</div>
                    <div class="card-body">
                    <!-- Start form -->
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="user" [(ngModel)]="username" name="user" aria-describedby="userHelp" placeholder="Usuario">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password" placeholder="Password">
                        </div>
                        <div class="form-group" style="padding-left: 0;">
                            <button type="submit" class="btn btn-primary" (click)="login()" >
                                Entrar
                            </button>
                        </div>
                        </form>
                        <!-- End form -->
                    </div> 
                    </div>
            </div>
        </div>        
    </div>